* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1abc9c;
    padding: 10px 15rem;
}

.navbar .heading {
    font-size: 2rem;
    font-weight: 600;
}

.navbar .link a {
    text-decoration: none;
    color: #1abc9c;
    font-family: 'Brush Script MT', cursive;
    padding: 0 10px;
}

.navbar .link {
    display: flex;
}

hr {
    margin: 0 14rem;
}

.container {
    width: 35%;
    margin: 50px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background: #c0c5cb;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 12px 15px;
}

label {
    display: block;
    margin: 10px 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 95%;
    padding: 6px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

select {
    background: #1abc9c;
    color: white;
    font-weight: bold;
}

.custom-file {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.file-input {
    display: none;
}

.file-label {
    flex-grow: 1;
    padding: 5px 10px;
    background: white;
    border-radius: 3px 0 0 3px;
    margin-right: -10px;
    font-size: small;
}

.file-button {
    padding: 5px 10px;
    background: #c0c5cb;
    color: white;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    margin: 0px auto;
}

.grey {
    background: #c0c5cb;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0 0 5px 5px;
}

.btn {
    background: #16a085;
    color: white;
    border: none;
    width: auto;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    padding: 6px 10px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 10px;
}

.radio-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-top: 0;
}

.radio-group input {
    margin-right: 5px;
}

#version {
    width: 95%;
    max-width: 300px;
    height: 50px;
    resize: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
